.contact {
  height: 100%;
  padding-top: 30vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  background:
    linear-gradient(to right, rgba($primary-clr, 0.9), rgba($primary-clr, 0.2)),
    url('../Images/UNS.jpg') center top;
  background-size: cover;

  h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
  }

  &_list {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    font-size: 1.5rem;
  }

  .social-icons {
    position: inherit;
    margin-top: 2rem;
  }
}